body{
	padding:0px;
	margin: 0px;
	/*font-family: "Arial Black", Gadget, sans-serif;*/
	overflow-y: hidden;
	overflow-x: hidden;
}
td{
	padding-top:10px;
	padding-bottom:10px;
	font-size: 18px;
	text-align: center;
}
ul{
	list-style-type: none;
}
li::before { 
    content: "• ";
}
#nadpis{
	font-size: 23px;
}
#nadpis li{
	font-size: 20px;
	line-height: 23px;
	width: 100%;
	margin-bottom: 14px;
}
.substitutetable tr{
	font-family: 'Open Sans', sans-serif;
	height: 48.33px;
}
.sude{
	background-color: #cccccc;
}
.liche{
	background-color: #e5e5e5;
}
.rozvrh{
	overflow: hidden;
}
.page{
	height: 1080px;
	width: 1920px;
	margin: 0 auto;
	background-image: linear-gradient(#ffffff,#cccccc);
	/*border: solid gray 2px;*/
}
.title table{
	color:white;
}
.navbar{
	height: 80px;
	width: 100%;
	background-color: #2b2b2b;font-family: 'Open Sans', sans-serif;
}
.navbar .logo{
	height: 60px;
	width: 250px;
	margin-top:5px;
	margin-left:5px;
	float:left;
	background-size: cover;
}
.navbar .time{
	float:right;
	color:white;

}
.navbar .time p{
	font-size: 80px;
	margin-top: -15px;
	margin-right:20px;
	margin-bottom: 0px;
}
.rozvrh{
	width: 885px;
	height: 485px;
	position: absolute;
	margin-left: 35px;
	margin-top: 34px;
}
#schoolTommorow{
	margin-left: 1052px;
}
.rozvrhR{
	width: 885px;
	height: auto;
	position: absolute;
	margin-left: 80px;
	margin-top: -14px;
}
#training{
	margin-left: 1000px;

}
#actualtime{
	/*font-family: erasBoldITC;*/
	font-weight: bold;
}
#date{
	font-size: 40px;
}
.rtitle{
	height: 50px;
	width: 100%;
	background-color: #2b2b2b;
	overflow:hidden;
	position: absolute;
	z-index: 1;
}
.notification{
	width: 1846px;
	height: 53px;
	/*background-color: rgb(246,245,245);*/
	position: absolute;
	margin: 0 auto;
	margin-top:	600px;
	margin-left: 35px;
	font-size:30px;
	/*border: solid #2b2b2b 3px;*/
	font-family: 'Open Sans', sans-serif;
}
.notification p{
	margin-top:5px;
	margin-left:10px;
	float:left;

}
.notificationbar{
	width: 1786px;
	height: 385px;
	margin-top: 647px;
	/*background-color: rgb(229,229,229);*/
	position: absolute;
	margin-left:95px;
	/*border: solid #2b2b2b 3px;
	border-top: none;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}

.notificationbar p{
	margin-left:20px;
	font-size: 20px;
}
.notificationbar p::before { 
    content: "âž¤ ";
}
.notification div{
	width: 50px;
	height: 50px;

	background-size: cover;
	float:left;
	margin-left:10px;
	margin-top:2px;
}


.notificationR{
	width: 1846px;
	height: 53px;
	/*background-color: rgb(246,245,245);*/
	position: absolute;
	margin: 0 auto;
	margin-top:	651px;
	margin-left: 35px;
	font-size:30px;
	/*border: solid #2b2b2b 3px;*/
	font-family: 'Open Sans', sans-serif;
}
.notificationR p{
	margin-top:5px;
	margin-left:10px;
	float:left;

}
.notificationRbar{
	width: 1786px;
	height: 343px;
	overflow: hidden;
	margin-top: 680px;
	/*background-color: rgb(229,229,229);*/
	position: absolute;
	margin-left:95px;
	/*border: solid #2b2b2b 3px;
	border-top: none;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
}

.notificationRbar p{
	margin-left:20px;
	font-size: 20px;
}
.notificationRbar p::before { 
    content: "âž¤ ";
}
.notificationR div{
	width: 50px;
	height: 50px;

	background-size: cover;
	float:left;
	margin-left:10px;
	margin-top:2px;
}

#ringing{
	position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
	color: white;
	width: 100%;
	margin-top: 25px;
	font-size: 25px;
   /*font-family: erasBoldITC;*/
}
.cleaner{
	clear:both;
}
/*@font-face {
   font-family: erasBoldITC;
   src: url(../fonts/ErasBoldITC.ttf);
}*/
.rozvrhName{
	color: black;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
   	/*font-family: erasBoldITC;
}